<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <title>Extensions</title>

    <style type="text/css">
        body {
            padding: 1rem;
        }

        .column {
            padding: 1em;
        }
    </style>
</head>

<body>
    <div class="container grid-xs">
        <div class="columns">
            {% for extension in extensions %}
            <div class="column col-12">
                <div class="tile tile-centered">
                    <div class="tile-content">
                        <div class="tile-title">
                            {{extension.name}}@{{extension.namespace}}
                        </div>
                        <div class="tile-subtitle text-gray">
                            {{extension.version}}
                        </div>
                    </div>
                    <div class="tile-action">
                        <a href="/extensions/{{ extension.filename() }}" class="btn btn-primary">
                            <i class="icon icon-download"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>
